<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <h1>habit list</h1>
        <a href="/today-habit-page"><button >todays Habit</button></a>
        <a href="/add-habit-page"><button>add Habit</button></a>
        <a href="/habit-list-page"> <button disabled> habit list</button></a>
    </body>
</html>